<h1><%=@tag.name%></h1>
<br>
<ul>


<%@tag.articles.each do|article| %>
<li><a href="<%= "showarticle?id=#{article.id}" %>"> <%= "#{article.title}" %></a> </li>

<% end %>
</ul>

<a href="http://localhost:3000/">Back</a>
